              


<form id="new_dish_user_image"> 
  <div data-hook="file" class="form-group">
    <label for="dish_user_image_attachment">Filename</label>
    <input name="user_image[attachment]" accept="image/png,image/gif,image/jpeg" id="image_attachment" type="file">
  </div>
  <button name="button" type="submit" class="btn btn-primary btn-upload"><span class="icon icon-save"></span> Update</button>
</form>

             


<script type="text/javascript">
$(document).on("submit", "#new_dish_user_image", function(event)
{
  var url ='http://localhost:3000/api/users/13/user_images/32'
    event.preventDefault();
console.log(url);
    $.ajax({
        url: url,
        type: 'PUT',
        dataType: "JSON",
        data: new FormData(this),
        processData: false,
        contentType: false,
        success: function (data, status)
        {

        },
        error: function (xhr, desc, err)
        {


        }
    });        

});
</script>